{% extends 'employee/base.html' %}

{% block content %}

<form action="" method="GET">
    {{ form }}
    <button type="submit">Search</button>
</form>

<table class="table table-bordered mt-5">
    <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Club</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employee_list %}
        <tr>
            <td>{{ employee.pk }}</td>
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.email}}</td>
            <td>{{ employee.department }}</td>
            <td>{% for club in employee.club.all %}{{ club }}, {% endfor %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'employee/page4.html' %}
{% endblock content %}