{% extends 'employee/base.html' %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employee_list %}
        <tr>
            <th>{{ employee.pk }}</th>
            <th>{{ employee.first_name }}</th>
            <th>{{ employee.last_name }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}